---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import ZoteroTotalCounter from 'components/ZoteroTotalCounter.astro';
import Container from '@components/container.astro';
import Sectionhead from '@components/sectionhead.astro';
const base = import.meta.env.BASE_URL;

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection('team', ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Über">
  <Container class="px-5">
    <Sectionhead>
      <Fragment slot="title">Über diese Seite</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">Zur Entstehung</h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Bei den Vorbereitungen vergangener Workshops und Vorträge zu ethischen
        Herausforderungen von Künstlicher Intelligenz wurde irgendwann deutlich,
        dass die Themen Energie, menschenwürdige Arbeit, Ausbeutung natürlicher
        Ressourcen und Klima eine entscheidende Rolle in der zukünftigen Entwicklung dieser
        Technologie spielen, in positiver wie in negativer Hinsicht.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        Um die Vielschichtigkeit der Diskussion überblicken und
        für didaktische Zwecke aufbereiten zu können, suchte ich nach einem
        passenden Ordnungssystem. Es sollte in zukünftigen Workshops handhabbar
        und am besten etabliert und bekannt sein, um didaktische Settings
        flexibel gestalten zu können.
      </p>
      <h3 class="font-bold text-xl text-gray-800">Bezugsrahmen BNE</h3>
      <p class="text-lg leading-relaxed text-slate-500">
        Als erstes bietet sich hier der Bezugsrahmen Bildung für Nachhaltige
        Entwicklung (BNE) an. Mit seinen Oberkategorien Ökologie, Ökonomie und
        Soziales, in denen Nachhaltigkeit gefasst wird, ermöglicht er eine
        erste grobe Unterscheidung meiner Rechercheergebisse und Quellen. Da BNE
        in unterschiedlichen Bildungszusammenhängen bekannt oder etabliert ist,
        gelingt damit auch eine erste grobe Untersuchung von KI und
        Nachhaltigkeit.
      </p>
      <h3 class="font-bold text-xl text-gray-800">Bezugsrahmen SDGs</h3>
      <p class="text-lg leading-relaxed text-slate-500">
        Für eine feinere Unterscheidung der Herausforderungen und Potenziale,
        die KI für die Menschheit mit sich bringt, bieten sich zudem die 17
        Nachhaltigkeitsziele (SDGs) der Vereinten Nationenen an. Sie erlauben
        internationale Kompatiblität in der Diskussion von KI und
        Nachhaltigkeit, was für den Bezugsrahmen BNE erst einmal nicht gegeben
        ist. Und schließlich erscheint es mir nur sinnvoll, das Ordnungssystem
        aus der Studie von <a
          class="font-bold underline"
          href="https://www.zotero.org/groups/5364207/ki_und_nachhaltigkeit/search/vinuesa/titleCreatorYear/items/S7QL2PEM/item-list"
          >Vinuesa et al. (2020)</a
        > aufzugreifen. Zumal dort die 17 SDGs auch auf die drei Kategorien Umwelt,
        Gesellschaft und Wirtschaft gemappt werden - was wiederum den Anschluss an
        BNE erlaubt.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        Anlass, die Ergebnisse dieser Sammlung und Strukturierung als
        interaktive Website und Open Educational Ressource (OER) aufzubereiten,
        waren zwei Workshops zu KI und Nachhaltigkeit, die ich 2024 neben
        meiner hauptberuflichen Tätigkeit entwickelt und durchgeführt habe. Die
        Zielgruppen waren jeweils Lehrkräfte in berufsbildenden und
        allgemeinbildenden Schulen und damit in der Konsequenz auch deren Schülerinnen und
        Schüler.
      </p>
      <h2 class="font-bold text-3xl text-gray-800">Zum KI-Begriff</h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Durch den Auftrieb, den die GPT- und Diffusion-Ansätze der letzten Zeit
        für die Text- und Bildgenerierung ausgelöst haben, kommt es meiner
        Beobachtung nach häufig zur Annahme, KI sei gleichzusetzen mit
        generativer KI (genAI/genKI). Verständlich, wenn Menschen erst durch
        ChatGPT angefangen haben, sich für das Thema zu interessieren.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        Jedoch gehören auch klassische Ansätze des machinellen Lernens (Machine
        Learning, Deep Learing) zum Begriff "Künstliche Intelligenz" dazu, wenn
        es um eine ausgewogene Betrachtung von KI und Nachhaltigkeit geht. Denn
        gerade etablierte Ansätze des maschinellen Lernens in der Bilderkennung,
        der Musterkennung und Datenvorraussage (Regression und Klassifizierung)
        bieten viele Chancen vor dem Hintergrund einer Diskussion um
        Nachhaltigkeit. Auch hier verweise ich auf Vinuesa et al. mit ihrem
        breiten Verständnis von KI (2020, S. 1).
      </p>
      <h2 class="font-bold text-3xl text-gray-800">Zur Literaturauswahl</h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Die bisher gesammelte Literatur stammt einerseits aus meinen
        persönlichen Informationskanälen, aus denen ich sie in die 17
        Untergruppen der Zotero-Sammlung schiebe. Zudem kommen bei jeder
        Vorbereitung von Vorträgen und Workshops weitere Quellen dazu. Die
        Mischung aus wissenschaftlichen Veröffentlichungen und journalistischen
        Texten ist mir wichtiger als ein systematisches Literaturreview, da
        dessen Texte für den Einsatz in allgemeinbildenden Schulen und zum
        Einstieg in das Thema nicht immer geeignet sind. Denn viele sind in englischer Sprache oder nur mit Vorwissen verständlich. Für einen
        großen Pool an wissenschaftlicher Literatur, geordnet nach SDGs,
        empfehle ich das Datensupplement des Literaturreviews von <a
          class="font-bold underline"
          href="https://www.zotero.org/groups/5364207/ki_und_nachhaltigkeit/search/vinuesa/titleCreatorYear/items/S7QL2PEM/item-list"
          >Vinuesa et al. (2020)</a>, wenngleich die Quellen darin vor 2020 datieren.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        Um die Perspektiven auf das Thema zu erweitern und die Entwicklung von KI-Systemen mit aktuellen Quellen zu begleiten, wünsche ich mir weitere Literatur aus der interessierten Community. Konkret heißt das, <a href="https://www.zotero.org/groups/5364207/ki_und_nachhaltigkeit" target="_blank" class="underline font-bold">der Zotero-Gruppe "KI und Nachhaltigkeit"</a> beizutreten und dort vollständig bibliografierte Quellen hinzuzufügen.
      </p>
      <h2 class="font-bold text-3xl text-gray-800">
        Auseinandersetzung, Diskussion, Meinungsbildung
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Die vorliegende Website ist vor allem als Ausgangspunkt einer
        Auseinandersetzung individuell oder in sozialen Lernsituationen mit dem
        Spannungsfeld KI und Nachhaltigkeit gedacht. Dafür habe ich bisher die <ZoteroTotalCounter
        /> Quellen der <a
          class="font-bold underline"
          target="_blank"
          href="https://www.zotero.org/groups/5364207/ki_und_nachhaltigkeit/library"
          >kollaborativen Literatursammlung</a
        > den 17 Nachhaltigkeitszielen zugeordnet und als <a
          class="font-bold underline"
          href={`${base}/explorer`}
          >SDG-KI-Explorer</a
        > aufbereitet.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        Die Unterseiten der Nachhaltigkeitsziele sind mit weiterführenden Links
        zu ihren Inhalten und Teilzielen versehen. Zudem ergänze ich die Seite
        mit Reflexionsfragen, die mir beim Lesen einfallen oder die sich in
        Workshopsituationen ergeben. Schließlich gibt es die Möglichkeit auf jeder Seite, Quellen inhaltlich zu diskutieren oder weitere Reflexionsfragen vorzuschlagen. Ideen zur Weiterentwicklung der Website sind <a href="https://github.com/xldrkp/ki-und-nachhaltigkeit-2/discussions/categories/ideas" class="underline font-bold" target="_blank">auf GitHub</a> gut augehoben.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        Nicht unerwähnt lassen möchte ich an dieser Stelle <a
          class="font-bold underline"
          href="https://doi.org/10.57964/adcd-hc96"
          target="_blank"
          >das gleichnamige Diskussionsprojekt von te.ma</a
        >, das 2023 an den Start gegangen ist und auch die beiden Diskurse KI
        und Nachhaltigkeit miteinander in den Austausch bringt. Ich habe es auch
        bei meiner Recherche gefunden und fand es sehr inspirierend. Wie die
        Initiator*innen schreiben, wurde die Seite auch schon erfolgreich in der
        Lehre eingesetzt. Obwohl die aktive Arbeit in dem Kanal abgeschlossen zu
        sein scheint, gibt es immer noch neue Diskussionsbeiträge.
      </p>
      <h2 class="font-bold text-3xl text-gray-800">Ausblick</h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Der aktuelle Stand der Website ist eine Arbeitsfassung, die mir auch mal
        wieder dazu dient, aktuelle Webtechnologien und Workflows, die ich für
        sinnvoll und ausbaufähig im Open-Education-Diskurs halte, zu
        implementieren.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        Ich verwende <a
          class="font-bold underline"
          href="https://astro.build"
          >Astro</a
        >, um eine statische Website zu bauen und greife auf die API von <strong
          >Zotero Online</strong
        > zu, um die Literatursammlung beim Bauen der Seite für die 17 Nachhaltigkeitsziele
        aufzubereiten.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        In Zukunft werde ich die Seite je nach verfügbarer Zeit weiterentwickeln
        und freue mich über Ideen, Anregungen und konkrete Mitarbeit.
      </p>
      <h2 class="font-bold text-3xl text-gray-800">Mediennachweise</h2>
      <p class="text-lg leading-relaxed text-slate-500">
        <a
          class="font-bold underline"
          href="https://pixabay.com/de/illustrations/weg-kreuzung-richtung-abzweigung-1020203/"
          >Illustration auf der Startseite</a
        > von <a
          class="font-bold underline"
          href="https://pixabay.com/de/users/peggy_marco-1553824/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1020203"
          >Peggy und Marco Lachmann-Anke</a
        > auf <a
          class="font-bold underline"
          href="https://pixabay.com/de//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1020203"
          >Pixabay</a
        >; nicht unter Creative Commons
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        SDG-Icons der <a href="https://www.un.org/sustainabledevelopment" class="underline font-bold">Vereinten Nationen</a>, nicht Creative Commons. The content of this publication has not been approved by the United Nations and does not reflect the views of the United Nations or its officials or Member States.
      </p>
    </div>
  </Container>
</Layout>
