<footer class="my-20 px-5">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Axel Dürkop. Alle Rechte vorbehalten.
    Theme <a
      class="font-bold underline"
      href="https://github.com/surjithctly/astroship"
      >Astroship</a
    > von <a
      class="font-bold underline"
      href="https://web3templates.com"
      >web3templates</a
    > unter GPL 3.0
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Die Inhalte dieser Website stehen unter <a
      href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1"
      class="text-xs font-bold underline"
      >CC BY-SA 4.0</a
    >, sofern nicht anders angegeben.
  </p>
  <p class="mt-8 text-center text-sm text-slate-500">
      <a href="/">Homepage Axel Dürkop</a> |
      <a href="/terms">Impressum</a> |
      <a href="/privacy">Datenschutzhinweise</a>
  </p>
</footer>
